

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    max-width: 1260px;
    margin: 20px;
    padding: 10px;
} 

  .title-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .title-container::before {
    content: "";
    display: block;
    width: 5px;
    height: 35px;
    background-color: #983131;
    margin-right: 10px;
    border-radius: 35px;
    margin-bottom: 25px;
}
  .title {
    font-size: 2.4rem;
    font-weight: bold;
    color: #983131;
    text-transform: uppercase;
    line-height: 1.2;
  }

  .title span {
    display: block;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .card {
  background-color: #983131;
  color: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 calc(25% - 32px);
}

  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .card h3 {
    font-size: 1.2rem;
    margin: 10px 0 5px;
    font-weight: 600;
  }

  .card p {
    font-size: 1rem;
  }

  .card a {
    color: #FFD700;
    text-decoration: none;
  }

  .card a:hover {
    text-decoration: underline;
  }

  @media (max-width: 768px) {
    .card {
      flex: 1 1 calc(50% - 16px); 
    }
  }

  @media (max-width: 480px) {
    .card {
      flex: 1 1 100%; 
    }

    .title {
      font-size: 1.5rem;
    }
  }

  footer {
    background-color: #cfcfcf;
    min-width: -webkit-fill-available;
    border-top: 1px solid #939393;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer > p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}